@media (max-width:991px) {
    .text-light ul li {
        width: 100%;
        float: unset;
    }

    .logo-footer img {
        height: 57px;
        display: block;
        margin: 0 auto 21px;

    }

    .get-touch ul {
        display: block;
    }

    .get-touch ul li {
        width: 100%;
        margin-bottom: 20px;
    }

    .top-head {
        margin-top: -53px;
    }

    .mt-5-new1 {
        margin-top: 1rem;
    }

    .get-treatment h2 {
        font-size: 20px;
        margin-bottom: 14px;
    }

    .get-touch ul li img {
        height: 35px;
    }

    .get-touch ul li h3 {
        font-size: 16px;
        margin: 15px 0 4px;
    }

    .flight-search-wrapper {
        margin-left: 36px;
        margin-top: 14px;
        margin-right: 33px;
    }

    .py-5-new img {
        margin: 0 auto 0;
        display: block;
    }

    .main-banner-all .home-based .online-travel-1 h2 {
        font-size: 20px;
        line-height: 32px;
        font-weight: 500;
        color: #fff;
    }

    .main-banner-all .home-based .online-travel-1 {
        width: 35%;
    }

    .main-banner-all .home-based .online-travel-2 {
        width: 65%;
    }

    .main-banner-all .home-based .online-travel-2 .home-based-travel .freedom-2 h2 {
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
        color: #000;
    }

    .main-banner-all .home-based .online-travel-2 .home-based-travel .freedom-2 ul li {
        font-size: 13px;
        color: #404040;
        margin-bottom: 4px;
        font-weight: 600;
    }

    .main-banner-all .home-based .online-travel-2 .home-based-travel .freedom-2 p {
        font-size: 12px;
        font-weight: 500;
        color: #000;
    }

    .treatments-carousel .owl-nav {
        bottom: 126px;
    }

    .treatments-carousel .owl-nav .owl-next {
        width: 30px;
        height: 30px;
        font-size: 18px;
    }

    .treatments-carousel .owl-nav .owl-prev {
        width: 30px;
        height: 30px;
        font-size: 18px;
    }

    .flight-search-wrapper h2 {
        font-size: 27px;
        font-weight: 700;
        color: #fff;
    }

    .flight-search-wrapper p {
        font-size: 15px;
        color: #fff;
    }

    .whole-txt h1 {
        font-size: 20px;
        font-weight: 500;
    }

    .whole-txt ul li strong {
        font-size: 13px;
        font-weight: 600;
        color: #001426;
        line-height: 16px;
        display: inline-block;
        margin-top: 8px;
    }

    .search-all-text ul li strong {
        font-size: 13px;
        font-weight: 600;
        color: #000000;
        display: inline-block;
        margin: 0 0 7px;
    }

    .nav-checkbox {
        display: none;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #0D1447;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 35px;
        z-index: 9999;
    }


    .nav-checkbox:checked~.sidenav {
        width: 250px;
    }

    .sidenav a {
        padding: 11px 11px;
        text-decoration: none;
        font-size: 15px;
        color: #fff;
        display: block;
        border-bottom: 1px solid #494848;
    }

    .close-btn {
        color: #fff;
        font-size: 26px;
        text-align: right;
        position: absolute;
        right: 14px;
        top: 0;
    }

    .open-btn {
        font-size: 30px;
    }
}

@media (max-width:767px) {
    .tab-btn {
        padding: 3px 11px 3px;
        font-size: 13px;
    }

    .navbar .navbar-brand img {
        height: 50px;
    }

    .top-form {
        position: inherit;
        top: 0;
        z-index: 999;
        background: #00154c;
        padding-bottom: 21px;
        border-radius: 20px;
    }

    .moblie-hide {
        display: none;
    }

    .form-submit {
        display: block;
        justify-content: space-between;
    }

    .form-submit .sub-1,
    .form-submit .sub-2 {
        width: 100%;
    }

    .form-submit .sub-1 button {
        background: #ff1717;
    }

    .form-submit .sub-2 a {
        width: 100%;
        display: inline-block;
        border: 1px solid #ff1717;
        background: #ff1717;
        border-radius: 22px;
        padding: 8px 10px 8px;
        font-size: 22px;
        color: #fff;
        font-weight: 600;
    }

    .form-submit .sub-2 {
        display: none;
    }

    .text-white-1 {
        font-size: 18px;
    }

    .size-18 {
        font-size: 18px;
    }

    .size-14 {
        font-size: 14px;
    }

    .btn-gray {
        font-size: 14px;
        padding: 10px 36px;
    }

    .sergari h2 {
        font-size: 18px;
    }

    .terms h1,
    h1.mb-4 {
        font-size: 18px;
    }

    h1.mb-4.size-18 {
        font-size: 19px;
    }

    h2.size-18 {
        font-size: 19px;
    }

    h5.mb-0 {
        font-size: 13px;
    }

    p.mb-2 {
        font-size: 13px;
    }

    .text-light {
        color: #EFF5FF !important;
        font-size: 17px;
    }

    .blue-back {

        height: auto;
    }

    .sergari {
        height: auto;
    }

    .phone-header-mobile {
        display: block;
        bottom: 23px;
        right: 102px;
        width: 30px;
        height: 30px;
        background-color: #0466C8;
        color: #fff;
        border-radius: 100%;
        text-align: center;
        padding: 3px 6px 0;
        z-index: 99;
        right: -35px;
        top: 0;
        position: relative;
    }

    .phone-header-mobile i {
        color: #fff;
    }

    .space-1 {
        padding-top: 0;
        padding-bottom: 1rem;
    }

    .bg-light-1 {
        font-size: 15px;
    }

    .treatments-carousel .owl-nav .owl-next {
        right: 0;
    }

    .treatments-carousel .owl-nav .owl-prev {
        left: 0;
    }

    .treatments-carousel .owl-nav .owl-next,
    .treatments-carousel .owl-nav .owl-prev {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }

    .thanks-top h1 {
        font-size: 18px;
        margin: 0 0 6px;
    }

    .thanks-top p {
        font-size: 12px;
        margin: 0 0 0;
    }

    .top-head h2 {
        font-size: 16px;
        margin: 0 0 13px;
    }

    .get-touch h2 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 19px;
    }

    .get-touch ul {
        display: block;
    }

    .get-touch ul li {
        width: 100%;
        margin-bottom: 26px;
    }

    .get-touch ul li h3 {
        font-size: 18px;
        margin: 10px 0 7px;
    }

    .get-touch ul li p {
        font-size: 13px;
    }

    .get-touch ul li img {
        height: 32px;
    }

    .get-treatment h2 {
        font-size: 18px;
        margin-bottom: 0;
    }

    .get-treatment p {
        font-size: 13px;
    }

    .banner-treatment .thanks-misson-main {
        display: block;
    }

    .banner-treatment .thanks-misson-main .misson-1 {
        max-width: 100%;
        height: auto;
        background-position: bottom;
        margin-right: 0;
        border-radius: 20px;
        padding: 30px;
        margin-bottom: 20px;
    }

    .banner-treatment .thanks-misson-main .misson-2 {
        max-width: 100%;
        height: auto;
        background-position: bottom;
        margin-right: 0;
        border-radius: 20px;
        padding: 30px;
        margin-bottom: 20px;
    }

    .banner-treatment .thanks-misson-main h2 {
        color: #fff;
        font-size: 18px;
    }

    .banner-treatment .thanks-misson-main p {
        color: #fff;
        font-size: 13px;
        margin-bottom: 0;
    }

    .top-head ul li {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 2%;
    }

    .top-head ul li strong {
        color: #000;
        font-weight: 600;
        font-size: 13px;
        margin: 0 0 24px;
    }

    .top-head ul li p {
        font-size: 12px;
        margin: 0 0 3px;
    }

    .navbar-nav .dropdown-menu {
        position: absolute !important;
    }

    .treattopheder {
        width: 100%;
        float: left;
    }

    .treattopheder ul li {
        width: 100%;
    }

    .why-chose-head {
        height: auto;
    }

    .bg-primary-1 {
        height: auto;
        padding: 14px;
    }

    .testimonial-carousel .owl-item.center .testimonial-text p {
        font-size: 14px;
    }

    .testimonial-carousel .owl-item.center .testimonial-text h5 {
        font-size: 18px;
    }

    .testimonial-carousel .owl-item.center .testimonial-text span {
        font-size: 14px;
    }

    .display-3 {
        font-size: 22px;
    }

    .flight-search-wrapper h2 {
        font-size: 20px;
        font-weight: 700;
        color: #ffff;
    }

    .flight-search-wrapper p {
        font-size: 14px;
        font-weight: 400;
        color: #ffff;
    }

    .hours-all ul {
        display: block;
    }

    .hours-all ul li {
        width: 100%;
        margin-bottom: 20px;
    }

    .py-5-new {
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .mb-5-new {
        margin-bottom: 1rem;
    }

    .whole-txt h1 {
        font-size: 20px;
    }

    .whole-txt p {
        font-size: 13px;
        line-height: 21px;
        margin-bottom: 20px;
    }

    .whole-txt ul li strong {
        font-size: 13px;
        font-weight: 600;
        color: #001426;
        line-height: 18px;
        display: inline-block;
        margin-top: 0;
    }

    .main-banner-all .home-based {
        display: block;
        justify-content: space-between;
        padding: 0 0 0;
        align-items: center;
    }

    .main-banner-all .home-based .online-travel-1 {
        width: 100%;
    }

    .main-banner-all .home-based .online-travel-2 .home-based-travel {
        display: block;
    }

    .main-banner-all .home-based .online-travel-2 .home-based-travel .freedom-1 {
        width: 100%;
    }

    .main-banner-all .home-based .online-travel-2 .home-based-travel .freedom-2 {
        width: 100%;
        margin-left: 0;
    }

    .main-banner-all .home-based .online-travel-2 {
        width: 100%;
    }

    .main-banner-all .home-based .online-travel-2 .home-based-travel .freedom-2 h2 {
        margin-top: 16px;
    }

    .main-banner-all {
        margin: 22px 0 20px;
    }

    .why h2 {
        font-size: 18px;
        font-weight: 500;
        color: #000000;
        text-align: center;
        margin-bottom: 0;
    }

    .search-all-text ul {
        display: block;
    }

    .search-all-text ul li {
        margin-bottom: 17px;
        width: 100%;
    }

    .search-all-text ul li strong {
        font-size: 15px;
        font-weight: 600;
        color: #000000;
        display: block;
        margin: 10px 0 0px;
        text-align: center;
    }

    .search-all-text ul li span {
        width: 50px;
        height: 50px;
        display: flex;
        border-radius: 50%;
        padding: 5px 5px;
        margin: 0 auto 0;
    }

    .search-all-text ul li img {
        display: block;
        height: 40px;
    }

    .hours-all ul li h2 {
        font-size: 15px;
        font-weight: 500;
        color: #000000;
        margin: 13px 0 3px;
    }

    .hours-all ul li p {
        font-size: 12px;
        color: #22292f;
        line-height: 16px;
        margin-bottom: 14px;
    }

    .logo-footer img {
        background: #fff;
        margin-bottom: 16px;
        border-radius: 5px;
        height: 55px;
        display: block;
        margin: 0 auto 17px;
    }

    .head-about-top h1 {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        margin: 0 0 0;
    }

    .welcome h2 {
        font-size: 18px;
        font-weight: 400;
        color: #000;
        margin: 0 0 10px;
        text-align: center;
    }

    .welcome p {
        font-size: 13px;
        font-weight: 400;
        color: #404040;
        margin: 0 0 0;
        text-align: center;
        line-height: 22px;
    }

    .should-choose p {
        font-size: 13px;
        margin: 0 0 9px;
    }

    .should-choose h2 {
        font-size: 15px;
        font-weight: 500;
        color: #000;
        margin: 0 0 9px;
        text-align: center;
    }

    .search-all-text-1 ul li strong {
        font-size: 12px;
        font-weight: 600;
        color: #000000;
        display: block;
        margin: 4px 0 0px;
        text-align: center;
    }

    .search-all-text-1 ul li {
        list-style-type: none;
        background: #ffffff;
        border-radius: 15px;
        width: 24%;
        text-align: center;
    }

    .wonders h2 {
        font-size: 16px;
        font-weight: 500;
        color: #000;
        margin: 6px 0 7px;
        text-align: left;
    }

    .wonders p {
        font-size: 13px;
        font-weight: 500;
        color: #404040;
        margin: 0 0 9px;
        text-align: left;
    }

    .wonders ul li {
        font-size: 13px;
        font-weight: 600;
        color: #404040;
    }

    .bg-light h1 {
        font-size: 16px;
        line-height: 22px;
    }

    .bg-light p {
        font-size: 13px;
    }

    .form-floating>.form-control,
    .form-floating>.form-select,
    .form-floating>.form-control,
    .form-floating>.form-select {
        font-size: 13px;
    }

    .form-control,
    .form-floating>label {
        font-size: 13px;
    }

    .footer .btn.btn-link {
        font-size: 12px;
    }

    .footer .copyright p {
        text-align: center;
        font-size: 13px;
        margin-bottom: 0;
    }

    .treatments-carousel .owl-nav {
        bottom: 320px;
    }

    .g-5,
    .gy-5 {
        --bs-gutter-y: 1rem;
    }

    .search-all-text {
        margin-bottom: 0;
    }

    .p-2-new {
        padding: 0 1rem 0 1rem;
    }

    .welcome img {
        border-radius: 10px;
        width: 100%;
    }

    .mb-7-new {
        margin-bottom: 0;
    }

    .navbar {
        position: static;
    }

    .back-to-top {
        right: 15px;
        bottom: 15px;
    }

    .btn-lg-square {
        width: 35px;
        height: 35px;
    }

    .d-flex p {
        font-size: 14px;
    }

    .search-btn {
        height: 41px;
        font-size: 17px;
    }

    .main-banner-all .home-based .online-travel-1 h2 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        color: #fff;
    }
}