/********** Template CSS **********/
:root {
    --primary: #0463FA;
    --light: #EFF5FF;
    --dark: #1B2C51;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.header-carousel .owl-carousel-text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.header-carousel .owl-nav {
    position: absolute;
    width: 200px;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #fd1001;
    border: 1px solid #fd1001;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.header-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: 30px;
    left: 52%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #b4c0cf;
    border-radius: 15px;
    transition: .5s;
}

.header-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: #FFFFFF;
    border-radius: 5px;
}

.header-carousel .owl-dot.active {
    background: #fd1001;
    border-color: #fd1001;
}

.page-header {
    background: url(../img/header-page.jpg) top center no-repeat;
    background-size: cover;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Service ***/
.service-item {
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
}

.service-item .btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 40px;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
}

.service-item:hover .btn {
    width: 140px;
}


/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Team ***/
.team-item img {
    position: relative;
    top: 0;
    transition: .5s;
}

.team-item:hover img {
    top: -30px;
}

.team-item .team-text {
    position: relative;
    height: 100px;
    transition: .5s;
}

.team-item:hover .team-text {
    margin-top: -60px;
    height: 160px;
}

.team-item .team-text .team-social {
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text .team-social {
    opacity: 1;
}

.team-item .team-social .btn {
    display: inline-flex;
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 40px;
}

.team-item .team-social .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}


/*** Appointment ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text {
    background: var(--light);
    transform: scale(.8);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: #00154c;
    transform: scale(1);
}

.testimonial-carousel .owl-item .testimonial-text *,
.testimonial-carousel .owl-item .testimonial-item img {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item img {
    background: #ddd !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    color: var(--primary);
    font-size: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}

.terms {
    width: 100%;
    float: left;
}

.terms h1 {
    font-size: 22px;
    font-weight: 700;
}

.terms h2 {
    font-size: 20px;
    font-weight: 700;
}

.terms h3 {
    font-size: 18px;
    font-weight: 700;
}

.terms p {
    font-size: 15px;
    color: #333;
}

.terms ul {
    font-size: 14px;
    color: #333;
}

.terms ul li {
    font-size: 15px;
    color: #333;
    padding: 4px 0;
}

.terms address {
    font-size: 15px;
    color: #333;
}

.terms .table {
    border: 1px solid #ddd;
}

.terms .table th {
    background: #1B2C51;
    font-size: 15px;
    color: #fff;
}

.terms .table td {
    background: #fff;
    font-size: 14px;
    color: #333;
}

.terms .accordion-button {
    color: #000;
}

.terms .accordion-body {
    color: #000;
    font-size: 14px;
}

.terms strong {
    color: #000;
    font-size: 14px;
}

.display-3 {
    font-size: 2rem;
}

.adgest {
    display: flex;
    font-size: 14px;
    align-items: center;
}

.size-txt {
    font-size: 14px;
    text-align: left;
    line-height: 24px;
}

.size-txt-1 {
    font-size: 14px;
}

.text-light hr {
    width: 100px;
    border-top: 2px solid #91abff;
}

.bg-dark {
    background: url(../img/background-banner.png) no-repeat;
    background-color: #0c1c4a !important;
}

.top-form {
    position: absolute;
    top: 0;
    z-index: 999;
}

.iti {
    width: 100%;
}

.form-submit {
    display: flex;
    justify-content: space-between;
}

.form-submit .sub-1 {
    width: 45%;
    

}

.form-submit .sub-1 button {
    background: #00154c;
    width: 100%;
    color: #fff;
    font-size: 18px;
    padding: 14px;
    font-weight: 600;
    border-radius: 32px 0;
}

.form-submit .sub-2 {
    width: 45%;
}

.form-submit .sub-2 a {
    width: 100%;
    display: inline-block;
    border: 1px solid #414f77;
    border-radius: 22px;
    padding: 8px 10px 8px;
    font-size: 20px;
    color: #00154c;
    font-weight: 600;
    text-align: center;
}

.form-submit .sub-2 a img {
    height: 41px;
}

.call-top {
    background: #00154c;
    padding: 8px 32px 8px;
    margin: 5px 0 3px;
    border-radius: 32px 0;
}

.call-top span {
    display: block;
    color: #fff;
    font-size: 15px;
}

.call-top a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.hide-part {
    display: none;
}

.show-part {
    display: block;
}

.btn-gray {
    color: #00154c;
    background-color: #e2eaf5;
    border-color: #e2eaf5;
    font-weight: 700;
    font-size: 20px;
    padding: 13px 36px;
    border-radius: 0 32px 0;
}


/*********Treatments Start slider*****************/
.treatments-carousel .owl-carousel-text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.treatments-carousel .owl-nav {
    position: relative;
    width: 100%;
    height: 45px;
    bottom: 132px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.treatments-carousel .owl-nav .owl-prev {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #00154c;
    border: 1px solid #00154c;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
    left: -28px;
    ;
    position: absolute;
}

.treatments-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #00154c;
    border: 1px solid #00154c;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
    right: -28px;
    ;
    position: absolute;
}

.treatments-carousel .owl-nav .owl-prev:hover,
.treatments-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.treatments-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.treatments-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 15px;
    transition: .5s;
}

.treatments-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: #000;
    border-radius: 5px;
}

.treatments-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

/*********Treatments End slider*****************/
.thanks-top {
    background: url(../img/thanks-banner-1.png) no-repeat;
    text-align: center;
    padding: 38px 24px;
    margin: 23px 0 0;
    height: 300px;
    background-position: bottom;
}

.thanks-top h1 {
    font-size: 35px;
    color: #001c76;
    font-weight: 700;
    margin: 29px 0 13px;
}

.thanks-top p {
    font-size: 18px;
    color: #171717;
    font-weight: 500;
    margin: 0 0 13px;
}

.get-touch {
    width: 100%;
    float: left;
}

.get-touch h2 {
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    margin-bottom: 32px;
}

.get-touch h2 hr {
    background-color: rgb(133 133 133);
    border: 2px solid;
    opacity: .25;
    width: 100px;
    margin: 7px auto 0;
}

.get-touch ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.get-touch ul li {
    background: #f1f0f6;
    width: 32%;
    list-style-type: none;
    text-align: center;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 3px 4px 0px rgb(12 6 14 / 14%);
    -webkit-box-shadow: 0px 3px 4px 0px rgb(12 6 14 / 14%);
    padding: 26px 13px 8px;
    border-radius: 15px;
}

.get-touch ul li img {
    height: 54px;
}

.get-touch ul li h3 {
    font-size: 22px;
    margin: 10px 0 12px;
}

.get-touch ul li p {
    font-size: 15px;
    color: #171717;
    font-weight: 500;
}

.get-treatment h2 {
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    margin-bottom: 32px;
}

.get-treatment h2 hr {
    background-color: rgb(133 133 133);
    border: 2px solid;
    opacity: .25;
    width: 100px;
    margin: 7px auto 0;
}

.get-treatment p {
    font-size: 15px;
    color: #171717;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
}

.banner-treatment {
    background: #f1f0f6;
    float: left;
    width: 100%;
    margin: 30px 0 30px;
    padding: 31px;
}

.banner-treatment .thanks-misson-main {
    display: flex;
}

.banner-treatment .thanks-misson-main h2 {
    color: #fff;
}

.banner-treatment .thanks-misson-main p {
    color: #fff;
}

.banner-treatment .thanks-misson-main .misson-1 {
    background: url(../img/banner-thanks-page-1.png) no-repeat;
    max-width: 100%;
    height: 265px;
    background-position: bottom;
    margin-right: 38px;
    border-radius: 20px;
    background-size: cover;
    padding: 30px;
}

.banner-treatment .thanks-misson-main .misson-2 {
    background: url(../img/banner-thanks-page-2.png) no-repeat;
    max-width: 100%;
    height: 265px;
    background-position: top;
    border-radius: 20px;
    background-size: cover;
    padding: 30px;
}

.sergari {
    background: #e2eaf5;
    float: left;
    width: 100%;
    height: 216px;
    border-radius: 20px;
    padding: 20px;
}

.sergari img {
    width: auto !important;
    background: #fa272a;
    border-radius: 50%;
    padding: 12px 13px;
}

.sergari h2 {
    font-size: 22px;
    color: #00154c;
    margin: 14px 0 8px;
}

.sergari p {
    font-size: 14px;
    color: #22292f;
    margin-bottom: 0;
}

.bg-light-1 {
    background-color: #fa272a !important;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
}

.bg-primary-1 {
    background-color: #f7fafc !important;
    height: 450px;
}

.text-white-1 {
    color: #000000 !important;
    font-size: 36px;

}

h5.text-white {
    font-size: 19px;
}

.top-head {
    margin-top: -95px;
    background: #fff;
    border: 2px solid #92bce7;
    border-radius: 20px;
    padding: 20px 20px 40px;
    width: 100%;
    float: left;
}

.top-head h2 {
    color: #1b1b1b;
    font-weight: 700;
    font-size: 33px;
    margin: 0 0 24px;
}

.top-head ul {
    margin: 0;
    padding: 0;
}

.top-head ul li {
    list-style-type: none;
    background: #f1f0f6;
    width: 48%;
    height: 73px;
    margin-right: 2%;
    margin-bottom: 2%;
    float: left;
    border-radius: 10px;
    padding: 11px 11px;
}

.top-head ul li strong {
    color: #000;
    font-weight: 600;
    font-size: 17px;
    margin: 0 0 24px;
}

.top-head ul li p {
    color: #000;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 3px;
}

.top-head .total-price {
    width: 100%;
    float: left;
    background: #ecfdf5;
    border: 2px dashed #9ef1bc;
    padding: 10px;
    border-radius: 20px;
    margin-top: 25px;
}

.top-head .total-price p {
    color: #000;
    font-weight: 400;
    font-size: 15px;
    margin: 0 0 0;
}

.top-head .total-price strong {
    color: #000;
    font-weight: 800;
    font-size: 23px;
    margin: 0 0 0;
}

.media-carousel .owl-carousel-text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.media-carousel .owl-nav {
    position: absolute;
    width: 200px;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.media-carousel .owl-nav .owl-prev,
.media-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.media-carousel .owl-nav .owl-prev:hover,
.media-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.media-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #b4c0cf;
    border-radius: 15px;
    transition: .5s;
}

.media-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: #FFFFFF;
    border-radius: 5px;
}

.media-carousel .owl-dot.active {
    background: #fd1001;
    border-color: #fd1001;
}

.blue-back {
    width: 100%;
    height: 268px;
    float: left;
    background: #00154c;
    color: #fff;
    padding: 15px;
}

.blue-back h2 {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

.blue-back ul {
    margin: 0;
    padding: 0;
}

.blue-back ul li {
    list-style-type: none;
    display: flex;
    padding: 8px 0;
    align-items: anchor-center;
    font-size: 14px;
}

.blue-back ul li img {
    width: auto !important;
    margin-right: 10px;
}

.moblie-hide {
    display: block;
}

.phone-header-mobile {
    display: none;

}

.space-1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.text-primary-new {
    color: #fd1001;
}

.header-carousel.owl-carousel .owl-item img {
    height: 465px !important;
    object-fit: cover;
}

.accordion {
    margin: 15px 0 15px;
}

.page-set {}

.page-set p {
    font-size: 13px;
}

.page-set h5 {
    font-size: 17px;
}

.treattopheder {
    width: 500px;
    float: left;
}

.treattopheder ul {
    margin: 0;
    padding: 0;
}

.treattopheder ul li {
    width: 50%;
    float: left;
    list-style-type: none;
    padding: 4px 0;
}

.treattopheder ul li a {
    font-size: 14px;
}
.dropdown-item {
    font-size: 14px;
    padding: 0.45rem 1rem;
}
.why-chose-head {
    background: url(../img/banner-2-new.png) no-repeat;
    max-width: 100%;
    height: 450px;
    background-position: top;
    background-size: cover;
}
.back-home {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
}
.accordion-button {
    padding: 0.9rem 0.25rem;
}
.back-home{background:rgba(255,255,255,0.5); padding:20px;}
.accordion-button{padding: 0.9rem 0.25rem;}
button:disabled {
    background-color: #ccc;   /* gray */
    cursor: not-allowed;      /* disable pointer */
    opacity: 0.7;             /* optional */
}






