<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="../img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
        rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="../lib/animate/animate.min.css" rel="stylesheet" />
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Include intl-tel-input CSS & JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/19.2.15/css/intlTelInput.css" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/mobile-responsive.css" rel="stylesheet" />
    <style>
        @media (max-width: 767px) {
            .space-1 {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    </style>
</head>

<body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <a href="../index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img src="../img/logo.png" style="width:150px;">
        </a>
        <div class="phone-header-mobile">
            <a href="tel:1-855-888-0114"><i class="fa fa-phone"></i></a>
        </div>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="../index.html" class="nav-item nav-link active">Home</a>
                <a href="../about.html" class="nav-item nav-link">About Us</a>
                      <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Treatments</a>
                    <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                        <div class="treattopheder">
                            <ul>
                            <li>
                                <a href="../cardiac-surgery.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Cardiac Surgery</a>

                            </li>
                            <li>
                                <a href="../orthopedic-surgery.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Orthopedic Surgery</a>

                            </li>
                            <li>
                                <a href="../ivf-fertility.html" class="dropdown-item"><i class="fa fa-angle-right"></i> IVF & Fertility</a>

                            </li>
                            <li>
                                <a href="../cosmetic-surgery.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Cosmetic Surgery </a>

                            </li>
                            <li>
                                <a href="../knee-hipreplacement.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Knee & Hip Replacement</a>

                            </li>
                            <li>
                                <a href="../spine-surgery.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Spine Surgery</a>

                            </li>

                            <li>
                                <a href="../cancer-treatment.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Cancer Treatment</a>

                            </li>
                            <li>
                                <a href="../dental-implants.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Dental Implants</a>

                            </li>
                            <li>
                                <a href="../bariatric-surgery.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Bariatric Surgery </a>

                            </li>
                            <li>
                                <a href="../liver-kidney-transplant.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Liver Kidney Transplant</a>

                            </li>
                             <li>
                                <a href="../neuro-surgeries.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Neuro Surgeries</a>

                            </li>
                             <li>
                                <a href="../eye-surgery.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Eye Surgery</a>

                            </li>
                             <li>
                                <a href="../orthopedic-trauma-surgery.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Orthopedic Trauma Surgery</a>

                            </li>
                             <li>
                                <a href="../hair-transplant.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Hair Transplant</a>

                            </li>
                              <li>
                                <a href="../stem-cell-therapy.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Stem Cell Therapy</a>

                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                    <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                        <a href="../air-ambulance-service.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Air Ambulance Service</a>
                        <a href="../online-doctor-consultation.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Online Doctor
                            Consultation</a>
                        <a href="../accommodation-service.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Accommodation Service</a>
                        <a href="../pre-post-arrival-services.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Pre Post Arrival Services</a>
                        <a href="../flight-booking.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Flight Booking</a>
                        <a href="../hotel-booking.html" class="dropdown-item"><i class="fa fa-angle-right"></i> Hotel Booking</a>

                    </div>
                </div>
          
                <a href="../contact.html" class="nav-item nav-link">Contact</a>
            </div>
            <div class="d-none d-lg-block call-top">
                <span>Request a call back</span>
                <a href="tel:+1-855-888-0114">
                    +1-855-888-0114
                </a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/wow/wow.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/waypoints/waypoints.min.js"></script>
    <script src="../lib/counterup/counterup.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../lib/tempusdominus/js/moment.min.js"></script>
    <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/19.2.15/js/intlTelInput.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

</body>

</html>